tags:
  - Password recovery
summary: Verify if a username exists for password recovery
description: It verifies whether the given username exists or not.
consumes:
  - application/json
produces:
  - application/json
parameters:
  - in: body
    name: body
    required: true
    schema:
      type: object
      required:
        - username
      properties:
        username:
          type: string
          example: "user123"

responses:
  200:
    description: User was found
    schema:
      type: object
      properties:
        msg:
          type: string
        code:
          type: string
    examples:
      application/json:
        msg: "User was found"
        code: "3002"

  400:
    description: Fields are mandatory
    schema:
      type: object
      properties:
        msg:
          type: string
        code:
          type: string
    examples:
      application/json:
        msg: "Bad request. All the fields are mandatory"
        code: "3001"

  404:
    description: User not found
    schema:
      type: object
      properties:
        msg:
          type: string
        code:
          type: string
    examples:
      application/json:
        msg: "The user is not found"
        code: "1004"

  500:
    description: Internal server error