tags:
  - Password recovery
summary: Return the security question of a user
description: Returns the user's security question so it can be displayed in the frontend.
consumes:
  - application/json
produces:
  - application/json
parameters:
  - in: query
    name: username
    required: true
    type: string
    example: "user123"

responses:
  200:
    description: Security question retrieved successfully
    schema:
      type: object
      properties:
        security_question:
          type: string
    examples:
      application/json:
        security_question: "What is your favorite color?"

  400:
    description: Bad request
    schema:
      type: object
      properties:
        msg:
          type: string
        code:
          type: string
    examples:
      application/json:
         msg: "Bad request. The username was not found"
         code: "3007"

  404:
    description: User not found
    schema:
      type: object
      properties:
        msg:
          type: string
        code:
          type: string
    examples:
      application/json:
        msg: "The user is not found"
        code: "1004"

  500:
    description: Internal server error
